
<div>
    <h3>Categories</h3>
</div>
<div>
    <p>We are going to display categories here</p>
</div>
<div>
    <ul>
        <li>
            <a href="categories/edit/1">Vitamins</a>
        </li>
        <li>
            <a href="categories/edit/2">Minerals</a>
        </li>
    </ul>
</div>
