<div class="justify-content-center">
    <h2>We are sorry, one of the items on your cart is not available in quantity you chose.</h2>
    <h3>Please, change the quantities of your cart items and try again.</h3>
</div>
